/* Github background */ 
    
#github-background {
    position: absolute;
    width: 100vw;
    min-width: 320px;
    min-height: 384px;
    height: 80vh;
    max-width: 100%;
    background: transparent; 
}

#github-gradient {
    position: absolute; 
    left: 0;
    width: 100%; 
    min-width: 320px;
    height: 80vh;
    min-height: 384px;
    z-index: -1; 
    background: rgb(47,65,84);
    background: linear-gradient(90deg, rgba(47,65,84,1) 10%, rgba(86,85,94,1) 100%);
}

/* Github container */ 

#github-grid-container {
    position: relative;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 384px;
    min-width: 320px;
    height: 80vh;
    max-width: 100%;
    padding: 0;
    margin: 0;
    grid-template-rows: repeat(5, 1fr); /* 5 rows */
    grid-template-columns: repeat(12, 1fr); /* 12 columns */
    background: transparent;
}

#github-img img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    height: auto;
}

#github-projects {
    z-index: -4;
    height: 100%;
}

.projects-item {
    z-index: -4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: #FFF;
    height: 90%;
    padding: 1rem;
    border-radius: 10px;
}

.projects-item {
    position: absolute;
    text-align: center;
}

/* Button in github item */
.projects-item a {
    opacity: 0.5;
    border: 0.5rem solid black;
    background: black;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1rem;
    width: 10rem;
    height: 1rem;
    text-align: center;
    padding: 1rem;
}

.projects-item a:hover {
    opacity: 1;
    cursor: pointer;
}


.languages {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 3rem;
    height: fit-content;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.icon {
    background-size: contain;
    background-position: center center;
    height: 1.618rem;
    width: 1.618rem;
    background-repeat: no-repeat;
}

@media (max-width: 900px) {
    #github-projects-container {
        grid-column: 1 / span 12;
        grid-row: 2 / span 2;
        overflow: hidden;
        width: 100vw;
        height: 100%;
        max-width: 100%;
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }

    #github-title {
        grid-row: 1 / span 5;
        grid-column: 1 / span 1; 
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        margin-bottom: 4rem;
    }

    #github-title p {
        font-size: 3rem;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: bold; 
        color: #f7f7f7;
        writing-mode: vertical-rl; /* Vertical text, right to left */
        text-orientation: upright; /* Keeps letters upright */
    }

    #github-img {
        position: absolute; 
        display: flex;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        grid-column: 2 / span 7; 
        grid-row: 2 / span 5;
        justify-content: flex-start;
        align-items: flex-end;
        opacity: 0.5;
    }
}

@media (min-width: 900px) {
    #github-projects-container {
        grid-column: 1 / span 12;
        grid-row: 3 / span 2;
        position: absolute;
        overflow: hidden;
        width: 120vw;
        left: -20vw;
        height: 100%;
        mask: linear-gradient(90deg, transparent, white 40%, white 80%, transparent);
        z-index: 1000;
    }


    #github-title {
        grid-row: 1 / span 5;
        grid-column: 1 / span 1; 
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-bottom: 0rem;
    }

    #github-title p {
        font-size: 4.236rem;
        font-family: "GFS Neohellenic", sans-serif;
        font-weight: 400;
        font-style: bold; 
        color: #f7f7f7;
        writing-mode: vertical-rl; /* Vertical text, right to left */
        text-orientation: upright; /* Keeps letters upright */
    }

    #github-img {
        position: absolute; 
        display: flex;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        grid-column: 2 / span 4; 
        grid-row: 2 / span 5;
        justify-content: flex-start;
        align-items: flex-end;
        opacity: 1;
    }
}